#player {
	display:block;
	margin-top:-403px;
	margin-left:349px;
	}
	
#playbutton{
	display:block;
	margin-top:-100px;
	margin-left:982px;
	}
#stopbutton{
	display:block;
	margin-top:9px;
	margin-left:982px;
	}

